* {
    margin: 0;
    padding: 0;
    font-family:'Roboto Slab';
}
:root {
    --main-color: #F00;
}

  

        /*********************** Header Section **********************/

 /* header {
    display: flex; } */
    
.header-section {
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('B9A1-New-Year-New-Mission/resources/Banner-Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
} 

.header-section {
    
    width: 82%;
    height: 495px;
    max-width: 1320px;
    margin: 42px auto;
    border-radius: 16px;
    text-align: center;   
    display: flex;
    justify-content: center;
    align-items: center;
}   
.header-content {
     width: 50%;
}  
.header-title {
    font-size: 60px;
    font-weight: 900;
}  
.header-sub-title {
    font-size: 28px;
    font-weight: 400;
}

        /*********************** Main Section cataloge **********************/

.offer-title {
    color: var(--main-color);
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin: 56px 0 40px 0;
}
.offer-details {
    color: var(--main-color);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.offer-cat {
    color: #070211;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0 40px 0;
}
.cataloge-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cataloge-pic img {
    width: 660px;
}

        /*********************** Main Section party **********************/


.party-container {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('B9A1-New-Year-New-Mission/resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 82%;
    height: 495px;
    max-width: 1320px;
    margin: 100px auto;
    border-radius: 16px;
}
.party-title {
    color: #FFF;
    font-size: 54px;
    font-weight: 900;
}  
.party-details {
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;
} 
.party-btn {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--main-color);
    border-radius: 8px;
    border: none;
    padding: 8px;
    cursor: pointer;
}
.party-btn:hover {
    background-color: rgb(255, 96, 128);
    font-size: 22px ;
}
.party-pic {
    width: 50%;
    padding: 100px 0 0 100px;
}

.pic-2024 {
    display: flex;
    align-items: center;
}
.pic-2024 img{
    width: 80%;
}

/*********************** Main Section Hotel data **********************/


.hotel-s {
    color: var(--main-color);
}
.hotel-data {
    padding-bottom: 20px;
}
#hotel-top {
    padding-top: 120px;
}
.hotel-details {
    font-size: 20px;
    font-weight: 600;
    width: 82%;
    height: 400px;
    max-width: 1320px;
    margin: 100px auto;
    border-radius: 16px;
    text-align: center;
}
.hotel-btn {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--main-color);
    border-radius: 8px;
    border: none;
    padding: 8px;
    margin-top: 30px;
    cursor: pointer;
}

        /*********************** Main Section coming **********************/

.coming-container {
    width: 82%;
    height: 380px;
    max-width: 1320px;
    margin: 100px auto;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.coming-container div {
    width: 33.33%;
}

.coming-pic img{
    width: 90%;
    border: 10px solid #F00 ;
    border-radius: 50% 50% ;
    padding: 20px;
}
.soon-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--main-color);
}
.soon-sub-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    padding: 15px 0;

}
.soon-details {
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.title-2024 {
    font-size: 40px;
    font-weight: 700;
    color: var(--main-color);
    padding-left: 60px;
    padding-top: 50px;
}
.details-2024 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding: 15px 0 15px 60px;

}

.img-2024 {
    padding-left: 60px;
   
}

        /***********************  Section holidays **********************/


.holidays-container {
    width: 82%;
    height: 265px;
    max-width: 1320px;
    margin: 100px auto;
    border-radius: 16px;
    text-align: center;   
}        
.holi-title {
    color: #070211;
    font-size: 20px;
    font-weight: 500;
}
.holi-sub-title {
    color: #070211;
    font-size: 62px;
    font-weight: 900;
    padding: 25px 0px;
}
.holi-s {
    color: var(--main-color);
}
.holi-details {
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    font-weight: 500;
    padding: 0 150px;
}


            /***********************  Section Discounts **********************/


.discount-container {
    width: 82%;
    height: 545px;
    max-width: 1320px;
    margin: 100px auto;
    border-radius: 16px;
} 
.discount-img {
    height: 355px;
    display: flex;
    justify-content: space-between;  
}
.gift {
    height: 545px;
}
.discount-bar {
    height: 190px;
    background-image: url('B9A1-New-Year-New-Mission/resources/Rectangle-2.png');
    background-repeat: no-repeat;
    background-size: cover;
} 
.discount-second {
    background-image: url('B9A1-New-Year-New-Mission/resources/Rectangle-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: beige;
    
}
.discount-second img {
    width: 70%;
    height: 70%;
    position: relative;
    right: 36%;
}


 
 

            /*********************** Main Section Gallary **********************/

.gallary-content {
    display: flex;
    gap: 10px;
}  
.gallary-content img {
    width: 100%;
}
#gallary-second img {
    margin-top: 6px;
}
.gallary-container {
    width: 82%;
    height: 740px;
    max-width: 1320px;
    margin: 40px auto;
    border-radius: 16px;
    text-align: center;
} 


.portfolio-title {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}
.portfolio-sub-title {
    color: #070211;
    font-size: 40px;
    font-weight: 900;
    padding: 16px 0;
}
.portfolio-details {
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-right: 30%;
}
.portfolio {
    width: 82%;
    height: 160px;
    max-width: 1320px;
    margin: 40px auto;
    border-radius: 16px;
    
}

      /*********************** Section News **********************/


.news-container {
    width: 82%;
    height: 500px;
    max-width: 1320px;
    margin: 100px auto;
    border-radius: 16px;
    text-align: center;
}
.news-pic {
    padding-top: 66px;
}
.news-title {
    padding: 20px 0;
    color: #070211;
    font-size: 40px;
    font-weight: 900;
}
.news-details {
    padding: 0 175px 40px 175px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.news-btn {
    display: flex;
    justify-content: center;
}
.email-box {
    height: 60px;
    width: 360px;
    border: none;
    border-bottom-left-radius: 2rem ;
    border-top-left-radius: 2rem ;
    padding-left: 20px;
    color: rgba(7, 2, 17, 0.30);
    font-size: 16px;
    font-weight: 400;
}
.email-box:hover {
    border: 1px solid #F00;
}
.sub-btn {
    height: 60px;
    width: 170px;
    border: none;
    background-color: var(--main-color);
    border-bottom-right-radius: 2rem ;
    border-top-right-radius: 2rem ;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

             /*********************** Section Footer **********************/ 

.footer-container {
    width: 82%;
    height: 500px;
    max-width: 1320px;
    margin: 40px auto 0 auto;
    border-radius: 16px;
} 
footer {
    background-color: #070211;
}            
.footer-box1 {
    display: flex;
    align-items: center;
    height: 200px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(219, 146, 146) ;
    padding-right: 200px;
}
.footer-box2 {
    height: 132px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(219, 146, 146) ;
}
.footer-box3 {
    height: 168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-container p {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}
.footer-btn {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--main-color);
    border-radius: 8px;
    border: none;
    padding: 8px;
    margin-top: 30px;
    cursor: pointer;
}
#icon {
    padding-right: 10px;
}